image: maven:3.6.3-openjdk-11

include:
  - template: Code-Quality.gitlab-ci.yml
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: License-Management.gitlab-ci.yml
  - template: SAST.gitlab-ci.yml

variables:
  MAVEN_CLI_OPTS: '--errors --fail-at-end'
  MAVEN_OPTS: '-Dmaven.repo.local=.m2/repository'
  SAST_JAVA_VERSION: 11

cache:
  key: ${CI_JOB_NAME}
  paths:
    - .m2/repository
    - target/

test:
  stage: test
  script:
    - 'mvn $MAVEN_CLI_OPTS test'
  artifacts:
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml

build:
  stage: build
  script:
    - 'mvn $MAVEN_CLI_OPTS compile'

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]
